body{
    margin: 0;
    padding: 0%;
}
.center{
    text-align: center;
}
.top{
    margin: 0;
    padding: 0%;
    position: relative;
    left: 215px;
}
.table1>h4{
    width:150px;
    padding: 7px;

color: black;
background-color: pink;
border: 2px solid black;
}.table2>h4{
    width:150px;
    padding: 7px;
color: white;
background-color: rgb(109, 13, 13);
border: 2px solid black;
}.table3>h4{
    width:150px;
    padding: 7px;
color: black;
background-color: yellow;
border: 2px solid black;
}
.table1,.table2,.table3{
border: 1px solid black;
background-color: gray;


}
.row{
    display: flex;
    flex-direction: row;
 
}
@media (min-width:992px){
    .table1,.table2,.table3{
    width:33.3%;
}
}
@media (min-width:768px) and (max-width:991px){
    .table1,.table2
    {
        width:50%;
    }.table3{
       width:100%;
    }
}
/* for mobile */
@media (max-width:767px){
    .table1,.table2,.table3{
        width:100%;
    }
}